<div class="def main">
    <p class="def title">SpriteSet List</p>
    <div class="row def body">
        <ul class="def objects col-md-12">
            <li *ngFor="let Object of Container.SpriteSet" class="object" (click)="Select(Object)"
            [ngClass]="{'object-selected': Object == Container.Selected}">
                <div>
                    <img class="icon" [src]="SpriteSetThumbnail(Object)" />
                </div>
                <p class="sprite-set-title">{{ Object.Name }}</p>
            </li>
        </ul>
    </div>
    <div class="def footer row">
        <span class="add col-md-12" (click)="AddSpriteSet()">Add SpriteSet</span>
        <span class="add col-md-12" (click)="RemoveSpriteSet()">Remove SpriteSet</span>
    </div>
</div>
<modal [Controller]="_Modal"></modal>