.def
{
    margin: 0px;
    padding: 0px;
}
.title
{
    padding-top: 2px;
    height: 25px;
    padding-left: 30px;
    font-size:13px;
    width:100%;
    background-color: #333333;
}
.body
{
    height: 80vh;
    min-height: 80vh;
    overflow: auto;
}
.footer
{
    height: 15vh;
    min-height: 15vh;
    overflow: hidden;
    text-align: center;
    padding-top:10px;
}
.objects
{
    padding-top: 5px;
    height: 100%;
    color: white;
}
.object
{
    cursor: default;
    width: 100%;
    font-size:11px;
    list-style: none;
    text-align: center;
    padding-top:15px !important;
    padding-bottom:5px !important;
}
.object-selected
{
    color:black;
    background-color: #FF8800;
}
.object:hover
{
    color:white;
    background-color: #222222;
}
.sprite-set-title
{
    font-size: 15px;
}
.icon
{
    width: 50px;
    height: 50px;
}
.add
{
    padding: 10px;
    font-size: 12px;
    color:white;
    min-width: 80px;
    min-height: 25px;
    background-color: #444444;
    cursor: pointer;
}