.def
{
    margin: 0px;
    padding: 0px;
}
.main
{
    width: 100%;
    background-color: #111111;
}
.body
{
    height: 30px;
    width: 100%;
    min-height: 30px;
    padding-left:20px;
}
.mode-picker-container
{
    font-size:12px;
    padding-top:7px;
    float:left;
}
.option
{
    color:white;
    background-color: #111111;
    border-style:none;
}