<div class="def main">
    <p class="def title">Scene</p>
    <div class="row def body">
        <ul class="def objects col-md-12">
            <li class="object" (click)="Select(Container.Scene)"
            [ngClass]="{'object-selected': Container.Scene == Container.Selected}">{{ Container.Scene.Name }} ( {{(Container.Scene.ID)}} )</li>
            <li *ngFor="let Object of Container.Scene.Objects" class="object" (click)="Select(Object)"
            [ngClass]="{'object-selected': Object == Container.Selected}">{{ Object.Name }} ( {{(Object.ID)}} )</li>
        </ul>
    </div>
</div>