.def
{
    margin: 0px;
    padding: 0px;
}
.title
{
    padding-top: 2px;
    height: 25px;
    padding-left: 30px;
    font-size:13px;
    width:100%;
    background-color: #333333;
}
.body
{
    height: 400px;
    min-height: 400px;
}
.objects
{
    padding-top: 5px;
    height: 100%;
    color: white;
}
.object
{
    cursor: default;
    width: 100%;
    font-size:11px;
    padding-left: 15px;
    list-style: none;
}
.object-selected
{
    color:black;
    background-color: white;
}
.object:hover
{
    background-color: #222222;
}