.title
{
    margin: 0px;
    padding: 0px;
    padding-top: 2px;
    height: 25px;
    padding-left: 30px;
    font-size:13px;
    background-color: #333333;
}
.body
{
    margin: 0px;
    padding: 0px;
    height: 400px;
    min-height: 400px;
}
.types
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #222222;
}
.type
{
    cursor: default;
    width: 100%;
    font-size:11px;
    padding-left: 40px;
}
.type:hover
{
    background-color: #111111;
}