.def
{
    margin: 0px;
    padding: 0px;
}
.icon
{
    margin-top:6px;
    margin-left:5px;
    color:white;
    float:left;
    width:18px;
}
.filler
{
    padding-left:23px;
}
.children
{
    font-size: 12px;
    padding-left:15px;
}
.text
{
    cursor:pointer;
}
.icons
{
    width: 15px;
    height: 15px;
    float:left;
}