<div *ngIf="Node" class="def">
    <div class="def">
        <span class="def"><i class="icon fa" *ngIf="Node.Children" [ngClass]="{'fa-plus-square-o': !_Expanded, 'fa-minus-square-o': _Expanded}" (click)="ToggleExpand()"></i></span>
        <span *ngIf="!NodeChildren" class="filler" ></span>
        <p class="def text">{{Node.Name}}</p>
    </div>
    <div *ngIf="_Expanded"  class="def children">
        <tree-node *ngFor="let Child of Node.Children" [Node]="Child"></tree-node>
    </div>
</div>