.def
{
    margin: 0px;
    padding: 0px;
}
.icon
{
    margin-top:6px;
    margin-left:5px;
    color:white;
    float:left;
    width:18px;
}
.filler
{
    float:left;
    min-width:18px;
}
.children
{
    font-size: 12px;
    padding-left:10px;
}
.text
{
    cursor:pointer;
}