.def
{
    margin: 0px;
    padding: 0px;
}
.main
{
    float:left;
    width:180px;
    text-align: center;
    cursor: pointer;
}
.title-off
{
    padding-top: 2px;
    height: 25px;
    font-size:13px;
    width:100%;
    background-color: #222222;
}
.title-on
{
    padding-top: 2px;
    height: 25px;
    font-size:13px;
    width:100%;
    background-color: #333333;
}
.close-off
{
    padding-top: 2px;
    height: 25px;
    font-size:13px;
    background-color: #1E90FF;
}
.close-on
{
    padding-top: 2px;
    height: 25px;
    font-size:13px;
    background-color: #FF8000;
}