.main
{
    margin: 0px;
    padding: 0px;
}
.title
{
    margin: 0px;
    padding: 0px;
    padding-top: 2px;
    height: 25px;
    padding-left: 30px;
    font-size:13px;
    width:100%;
    background-color: #333333;
}
.body
{
    margin: 0px;
    padding: 0px;
    height: 60vh;
    min-height: 60vh;
}
.tree
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    border-color: #222222;
    border-width: 2px;
    border-style: solid;
    background-color: #111111;
}