.title
{
    margin: 0px;
    padding: 0px;
    height: 45px;
    text-align: center;
    font-size:30px;
    background-color: #333333;
}
.options
{
    margin: 0px;
    padding: 0px;
    background-color: #222222;
}
.option
{
    color: #DDDDDD;

}