<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="_Current.Tree != null" class="def page">
    <vinyl-side-mode-switch [entries]="SideToggleEntries"></vinyl-side-mode-switch>
    <div class="def content row">
        <div *ngIf="_SideBarOption != -1" class="def col-md-2">
            <project *ngIf="_SideBarOption == 0" [Current]="_Current"></project>
            <search *ngIf="_SideBarOption == 1"></search>
        </div>
        <div class="def" [ngClass]="{'col-md-10': _SideBarOption != -1, 'col-md-12': _SideBarOption == -1}">
            <tab-navigation [Current]="_Current"></tab-navigation>
            <div *ngFor="let Tab of _Current.OpenTabs" class="def">
                <div *ngIf="Tab == _Current.CurrentTab" class="def">
                    <scene-2D-editor *ngIf="Tab.Type == 0" [Scene]="Tab.Value" [Resources]="_Current.Resources"></scene-2D-editor>
                    <sprite-set-editor *ngIf="Tab.Type == 1" [SpriteSetCollection]="Tab.Value" [Resources]="_Current.Resources"></sprite-set-editor>
                    <image-collection-editor *ngIf="Tab.Type == 2" [ImageCollection]="Tab.Value" [Resources]="_Current.Resources"></image-collection-editor>
                    <code-editor *ngIf="Tab.Type == 4" [Code]="Tab.Value.Data" [Type]="Tab.Value.Format"></code-editor>
                    <image-viewer *ngIf="Tab.Type == 5" [ImagePath]="Tab.Value"></image-viewer>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="_Current.Tree == null" class="def page">
    <p class="no-project">No Project Is Loaded</p>
</div>
<modal [Controller]="_Modal"></modal>