<div class="def main">
    <div class="row body">
        <div class="col-md-2 mode-picker-container">
            <select class="option" [(ngModel)]="_Transform.Mode">
                <option value="0">Translate</option>
                <option value="1">Rotate</option>
                <option value="2">Scale</option>
            </select>
        </div>
        <div class="col-md-2 mode-picker-container">
            <select class="option" [(ngModel)]="_Transform.SnapMode">
                <option value="0">No Snap</option>
                <option value="2">Fixed Snap</option>
            </select>
        </div>
        <input *ngIf="_Transform.SnapMode == 2" class="btn col-md-2 option" type="number" [(ngModel)]="_Transform.FixedSnapOffset" />
    </div>
</div>