.def
{
    margin: 0px;
    padding: 0px;
}
.main
{
    margin: 0px;
    padding: 0px;
}
.title
{
    padding-top: 2px;
    height: 25px;
    padding-left: 30px;
    font-size:13px;
    width:100%;
    background-color: #333333;
}
.header
{
    padding-top: 12px;
    height: 50px;
    font-size:25px;
    width:100%;
    background-color: #222222;
}
.icon
{
    color:white;
}
.body
{
    height: 95vh;
    min-height: 95vh;
}
.tree
{
    height: 100%;
    border-color: #222222;
    border-width: 2px;
    border-style: solid;
    background-color: #111111;
}
