.def
{
    margin: 0px;
    padding: 0px;
}
.title
{
    padding-top: 2px;
    height: 25px;
    padding-left: 30px;
    font-size:13px;
    width:100%;
    background-color: #333333;
}
.body
{
    height: 20vh;
    min-height: 20vh;
}
.types
{
    padding-top: 5px;
    height: 100%;
    background-color: #222222;
}
.type
{
    cursor: default;
    width: 100%;
    font-size:11px;
    padding-left: 15px;
    list-style: none;
}
.type:hover
{
    background-color: #111111;
}
.items
{
    padding-top: 5px;
    height: 100%;
    color: white;
}
.item
{
    cursor: default;
    width: 100%;
    font-size:15px;
    padding-top:10px;
    padding-bottom: 5px;
    list-style: none;
}
.item-title
{
    padding-top: 3px;
}
.item:hover
{
    background-color: #222222;
}
.icon
{
    width: 30px;
    height: 30px;
}