<div class="def main">
    <p class="def title">Draw Object</p>
    <div class="row def body">
        <label class="label col-md-3">Translation:</label>
        <input type="numeric" class="col-md-3" [(ngModel)]="Container.Selected.Trans.Translation.X" />
        <input type="numeric" class="col-md-3" [(ngModel)]="Container.Selected.Trans.Translation.Y" />
        <input type="numeric" class="col-md-3" [(ngModel)]="Container.Selected.Trans.Translation.Z" />
        <label class="label col-md-3">Scale:</label>
        <input type="numeric" class="col-md-3" [(ngModel)]="Container.Selected.Trans.Scale.X" />
        <input type="numeric" class="col-md-3" [(ngModel)]="Container.Selected.Trans.Scale.Y" />
        <input type="numeric" class="col-md-3" [(ngModel)]="Container.Selected.Trans.Scale.Z" />
        <label class="label col-md-3">Rotation:</label>
        <input type="numeric" class="col-md-3" [(ngModel)]="Container.Selected.Trans.Rotation.X" />
        <input type="numeric" class="col-md-3" [(ngModel)]="Container.Selected.Trans.Rotation.Y" />
        <input type="numeric" class="col-md-3" [(ngModel)]="Container.Selected.Trans.Rotation.Z" />
    </div>
</div>